body {
  background-color: #06000f;
  margin: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
img {
  border-radius: 40px;
  width: 85%;
  height: auto;
  margin: 40px;
}

h1 {
  color: white;

  font-size: 48px;
  margin-bottom: 20px;
}

.imagePair {
  display: flex;
  justify-content: space-around;
}
.teamName {
  font-size: 80px;
  font-family: "Bungee Spice", sans-serif;
}

.playerImg {
  width: 100%;
  height: auto;
  animation: fade 6s linear 7;
}

@keyframes fade {
  0%,
  33% {
    opacity: 0;
  }
  33% {
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
}
